@import '../globals';

#drinks {
    background: $off_white;

    h1, .cta {
        color: $background_dark;
    }

    .paragraph {
        grid-area: 6 / 4 / 7 / 7;
    }

    .cta {
        grid-area: 7 / 4 / 8 / 7;
    }

    .image_1 {
        grid-area: 4 / 2 / 6 / 5;
        height: 54vh;
    }

    .image_2 {
        grid-area: 5 / 9 / 9 / 12;
        height: 60vh;
    }

    .image_3 {
        grid-area: 8 / 3 / 10 / 10;
        height: 70vh;
    }

    @media screen and (min-width: 768px) and (max-width: 1023px) {
        .paragraph {
            grid-area: 5 / 2 / 6 / 6;
        }

        .cta {
            grid-area: 6 / 2 / 7 / 6;
        }

        .image_1 {
            grid-area: 4 / 6 / 6 / 9;
            height: 40.5vh;
        }

        .image_2 {
            grid-area: 8 / 2 / 9 / 6;
            height: 45vh;
        }

        .image_3 {
            grid-area: 7 / 1 / 8 / 9;
            height: 52.5vh;
        }
    }

    @media screen and (max-width: 767px) {
        .paragraph {
            grid-area: 5 / 1 / 6 / 4;
        }

        .cta {
            grid-area: 6 / 1 / 7 / 4;
        }

        .image_1 {
            grid-area: 3 / 3 / 4 / 5;
            height: 27vh;
        }

        .image_2 {
            grid-area: 7 / 2 / 8 / 4;
            height: 30vh;
        }

        .image_3 {
            grid-area: 8 / 1 / 9 / 5;
            height: 35vh;
        }
    }
}