@import '../globals';

#engage {
    background: $off_white;

    h1, .cta {
        color: $background_dark;
    }

    .paragraph {
        grid-area: 4 / 3 / 5 / 11;
        text-align: center;
    }

    .cta {
        grid-area: 5 / 3 / 6 / 11;
        display: flex;
        justify-content: center;
    }

    @media screen and (min-width: 768px) and (max-width: 1023px) {
        .paragraph {
            grid-area: 5 / 2 / 6 / 8;
        }

        .cta {
            grid-area: 6 / 2 / 7 / 8;
        }
    }

    @media screen and (max-width: 767px) {
        .paragraph {
            grid-area: 5 / 1 / 6 / 5;
        }

        .cta {
            grid-area: 6 / 1 / 7 / 5;
        }
    }
}