@import '../globals';

#sushi {
    background: $white;

    h1, .cta {
        color: $background_dark;
    }

    .paragraph {
        grid-area: 3 / 1 / 4 / 13;
    }

    .cta {
        grid-area: 4 / 1 / 5 / 13;
    }

    @media screen and (min-width: 768px) and (max-width: 1023px) {
        .paragraph {
            grid-area: 3 / 1 / 4 / 9;
        }

        .cta {
            grid-area: 4 / 1 / 5 / 9;
        }
    }

    @media screen and (max-width: 767px) {
        .paragraph {
            grid-area: 3 / 1 / 4 / 5;
        }

        .cta {
            grid-area: 4 / 1 / 5 / 5;
        }
    }
}