/* ------------------------------ Fonts ------------------------------ */
@font-face {
    font-family: "Dolce_Amyara";
    src: url(../public/fonts/dolce-amyara/Dolce-Amyara.otf);
}

@font-face {
    font-family: "Museo";
    src: url(../public/fonts/museo/Museo100-Regular.otf);
}

@font-face {
    font-family: "Elagern_Italic";
    src: url(../public/fonts/elagern/Elagern_Italic.ttf);
}

@font-face {
    font-family: "Albra";
    src: url(../public/fonts/albra/AlbraLight.otf);
}

/* ------------------------------ Variables ------------------------------ */
$primary: #e7b46c;
$accent: #ff6b6b;
$grey: #888888;
$background_dark: #1e1e1e;
$background_light: #2e2e2e;
$background_gradient: linear-gradient(180deg, #1e1e1e 0%, #1e1e1e00 100%);
$off_white: #f5f5f5;
$white: #ffffff;

// ---------- Fonts ----------
$header_font: 'Albra',
sans-serif;
$text_font: 'Museo',
sans-serif;

// ---------- Fluid fonts ----------
$paragraph: clamp(1rem, 0.5vw + 0.88rem, 1.38rem);
$link: clamp(1.25rem, 0.63vw + 1.09rem, 1.72rem);
$header_4: clamp(1.56rem, 0.78vw + 1.37rem, 2.15rem);
$header_3: clamp(1.95rem, 0.98vw + 1.71rem, 2.69rem);
$header_2: clamp(2.44rem, 1.22vw + 2.14rem, 3.36rem);
$header_1: clamp(3.05rem, 1.53vw + 2.67rem, 4.2rem);

// ---------- Fluid space ----------
$small: clamp(1.13rem, calc(1.04rem + 0.41vw), 1.50rem);
$medium: clamp(1.69rem, calc(1.57rem + 0.61vw), 2.25rem);
$large: clamp(2.25rem, calc(2.09rem + 0.81vw), 3.00rem);

// ---------- Basiscs ----------
* {
    box-sizing: border-box;
}

html {
    margin: 0;
    padding: 0;
    scroll-behavior: smooth;
    list-style-type: none;
}

body {
    background: $background_dark;
    color: $off_white;
    font-family: $text_font;
    font-size: $paragraph;
    margin: auto;
    user-select: none;
    overflow-x: hidden;
}

/* ------------------------------ Fonts ------------------------------ */

h1,
h2,
h3,
h4 {
    color: $white;
    font-family: $header_font;
    font-weight: 100;
    line-height: 0.8;
    padding: 0;
    margin: 0;
}

h1 {
    font-size: $header_1;
    text-transform: uppercase;
}

h2 {
    font-size: $header_2;
    font-style: italic;
    font-weight: 100;
    color: $primary;
    text-align: right;
}

h3 {
    font-size: $header_3;
}

h4 {
    font-size: $header_4;
}

p {
    font-family: $text_font;
    font-size: $paragraph;
    margin: 0;
}

a {
    font-family: $header_font;
    font-size: $link;
    font-weight: 100;
    color: $off_white;
    line-height: 1.8;
    text-decoration: underline transparent 2px;
    transition: all 0.3s ease-in-out;

    &:hover {
        color: $white;
        text-decoration: underline $grey 2px;
    }

    &:focus {
        color: $white;
    }
}

.cta {
    font-family: $header_font;
    font-size: $link;
    color: $white;
    text-decoration: underline $primary 2px;
    transition: all 0.3s ease-in-out;

    &:hover {
        text-decoration: underline $grey 2px;
    }

    &:focus {
        color: $white;
    }
}

.uppercase {
    text-transform: uppercase;
}

.capitalize {
    text-transform: capitalize;
}

.text_dark {
    color: $background_dark;
    opacity: 0.8;
}

.text_light {
    color: $white;
    opacity: 0.8;
}

.image {
    position: relative;
    height: 100%;
    width: 100%;
    box-shadow: 0 12px 24px #1e1e1e16;
}

/* ------------------------------ Sections ------------------------------ */
section {
    display: grid;
    grid-template-columns: repeat(12, 1fr);
    grid-template-rows: auto;
    gap: $small;
    padding: 15vh calc($large * 2);

    @media screen and (min-width: 768px) and (max-width: 1023px) {
        grid-template-columns: repeat(8, 1fr);
        padding: 11vh calc($medium * 1.5);
    }

    @media screen and (max-width: 767px) {
        grid-template-columns: repeat(4, 1fr);
        padding: 7vh calc($small * 1);
    }
}